---
permalink: /facebook/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting to Facebook...</title>
    <meta http-equiv="refresh" content="2; url={{ site.facebookPage }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VWJHVR3VBL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-VWJHVR3VBL');
      
      gtag('event', 'smart_link_click', {
        'event_category': 'Outbound Link',
        'event_label': 'Facebook Page',
        'event_callback': function() { window.location.href = "{{ site.facebookPage }}"; }
      });
      setTimeout(function() { window.location.href = "{{ site.facebookPage }}"; }, 1500);
    </script>
    
</head>
<body>
    <div class="container">
        <div class="loader"></div>
        <h2>Redirecting to our Facebook Page...</h2>
        <p>If you are not redirected automatically, <a href="{{ site.facebookPage }}">click here</a>.</p>
    </div>
</body>
</html>
